*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #000;
}
.text {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 20px;
}
header a:hover{
    color: aqua;
}
.navlink{
    list-style: none;
    text-decoration: none;

}
.navlink li{
    display: inline-block;
    padding: 0px 20px;

}
.navlink li a{
    transition: all 0.3s ease 0s;
    color: #fff;
    font-size: 20px;

}
.navlink li a:hover{
    color: aqua;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136 ,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: red;
    color: #fff;
}
.background img{
    height: 700px;
    width: 100%;
    
 }
 .about h1{
     text-align: center;
     font-size: 35px;
  font-weight: bold ;
  padding-top: 25px;
  color: red;
 }
 footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    height: 200px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.social-media,
.contact-us,
.other-info {
    flex: 1;
    text-align: center;padding-top: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


