body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #fff;
    letter-spacing: 1px;
}

.bookingcont{
    background-color: #fff;
    margin: 200px;
    box-shadow: 10px 15px 20px rgba(0,0,0, .1);
    display: grid;
    grid-template-columns: 50% 50%;

}
.bookingtext{
    background-color: #000;
    padding: 50px;
   
    text-align: center;
}
.heading{
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
}
.bookingtext p{
    color: #fff;
}
.bookingtype{
    color: burlywood;
    font-size: 30px;
}
.bookingphone{
    font-size: 20px;
    color: #fff;
}
.bookingaddress{
    color: red;
}
.booking-form{
    padding: 20px 0;
    margin: 0 auto;
    color: #000;

}

form{
    display: grid;
    grid-row-gap: 20px;
}
form p{
    font-weight: 600;
}
.formfield{
    
    justify-content: space-between;
}
input,select{
    pad: 10px 15px;
}
input{
    width: 100%;
}
.btn{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    font-size: 15px;
    border-radius: 50px;
    box-shadow: 7px 18px 12px rgba(0,0,0, .1);
}
